:root {
  --color-white: #eeeeee;
  --color-black: #222831;
  --color-highlight: #00dee8;
  --color-highlight-darker: #00adb5;
  --color-background-light: #e3fdfd;
  --color-background-dark: #393e46;
  --color-primary: #ff2e63;

  --steps: 50;
  --time-duration: 7s;
  --play-state: paused;

  --column-count: 1;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;

  overflow: hidden;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  border-bottom: var(--color-highlight-darker) solid 5px;
}

header {
  background-color: var(--color-black);
  color: var(--color-white);
  display: grid;
  height: 8vh;
}

main {
  background-color: var(--color-background-light);
}

footer {
  background-color: var(--color-black);
  color: var(--color-white);
  display: grid;
}

video {
  visibility: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin-inline: auto;
  z-index: 201;
  background-color: #000;
}

button {
  border: 1px var(--color-black) solid;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--color-background-dark);
  color: var(--color-highlight);
}

button:hover {
  background-color: var(--color-highlight-darker);
  color: var(--color-white);
  border: var(--color-background-dark) 1px solid;
}

button:active {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: var(--color-background-dark) 1px solid;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-wrapper:hover {
  filter: invert(50%) sepia(87%) saturate(3948%) hue-rotate(319deg)
    brightness(101%) contrast(94%);
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar__icon {
  height: 60px;
  filter: invert(93%);
  margin-inline: 2em;
}

.navbar > ul {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 3vw;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
}

.container {
  width: 80vw;
  margin-inline: auto;
  position: relative;
}

.bowser-head {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../img/bowser-head.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  opacity: 0;
  animation-name: headgrowth;
  animation-duration: 4s;
}

.bowser-head-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  animation-name: backgroundcolor-transition;
  animation-duration: 4s;
}

@keyframes headgrowth {
  0% {
    scale: 0.2;
    z-index: 99;
  }
  100% {
    scale: 4;
    opacity: 1;
    z-index: 99;
  }
}

@keyframes backgroundcolor-transition {
  0% {
    background-color: transparent;
    z-index: 100;
  }
  100% {
    background-color: #000;
    z-index: 100;
  }
}

.mittagstisch {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

#the-list {
  list-style: none;
  padding: 0;
  padding-block: 1em;
  text-align: center;
}

#the-list > * {
  padding-block: 0.1em;
}

#the-list > *:hover {
  color: var(--color-primary);
  cursor: pointer;
}

#the-list > li.crossed-out {
  text-decoration: line-through;
  color: var(--color-highlight-darker);
}

.columncount-increase {
  column-count: var(--column-count);
}

#entry {
  padding: 3px;
}

#entry:focus {
  outline-color: var(--color-primary);
}

#entry::placeholder {
  text-align: center;
}

#entry:-ms-input-placeholder {
  text-align: center;
}

#add-button {
  padding: 5px;
  border-radius: 5px;
}

#name-entry {
  color: var(--color-black);
}

dialog {
  border-radius: 5px;
  border: var(--color-background-dark) solid 2px;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding-inline: 10vw;
  margin-bottom: 50vh;
}

#dialog-close {
  position: absolute;
  top: -1px;
  right: 0px;
  padding: 5px;
  padding-left: 8px;
  border: 0;
  border-radius: 1px;
  border-bottom-left-radius: 5px;
}

dialog::backdrop {
  background: #000000a0;
}

main .mittagstisch .message-box {
  cursor: not-allowed;
  width: 80%;
  height: 10vh;
  background-color: var(--color-background-dark);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 15px;
  white-space: nowrap;
  text-shadow: 0 2px 2px rgba(var(--color-black), 0.9);
  font-size: 2.6vw;
  overflow: hidden;
  gap: 1vw;
}

#messenger {
  color: var(--color-primary);
}

.typed-out-default {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  animation: typing-1 10s steps(var(--steps), end) 1s infinite;
  width: 0;
}

.typed-out-before-start {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  animation: typing-2 var(--time-duration) steps(var(--steps), end) 300ms
    forwards;
  width: 0;
}

.typed-out-after-start {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  animation: typing-3 var(--time-duration) steps(var(--steps), end) 300ms
    forwards;
  width: 0;
}

@keyframes typing-1 {
  0% {
    width: 0;
  }
  20% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes typing-2 {
  0% {
    width: 0;
  }
  20% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes typing-3 {
  0% {
    width: 0;
  }
  20% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

.help {
  margin: 0;
  padding: 0;
  padding-block: 3em;
  height: 75vh;
  display: flex;
  justify-content: center;
}

.help-wrapper {
  width: 80vw;
}

.help-wrapper > h2,
.help-info {
  text-align: center;
  display: block;
}

.help-wrapper > .help-info {
  font-size: 0.8em;
}

.help-wrapper > p > span {
  color: var(--color-primary);
}

.whois {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.knowledge:hover {
  cursor: pointer;
  border: none;
  color: var(--color-primary);
}

.copyright {
  justify-self: end;
}
